openapi: 3.0.3
info:
  title: FAPI Catalog API
  description: |
    OEM cross-reference database for auto parts. Look up parts by article
    number, manufacturer, vehicle applicability, and find equivalent parts
    across brands.

    ## Trying the API

    All endpoints (except `/imageList`) require an API key passed as the
    `ui` query parameter. For evaluation, a **public demo key** is available
    at:

    https://gist.githubusercontent.com/serp83/652d191745773ef6d8b5a0a689479cd6/raw/demo-key.txt

    The demo key is rotated periodically and shared with a daily request
    quota. Production access requires a permanent key — contact
    `development.iisis@gmail.com` or see [fapi.iisis.ru](https://fapi.iisis.ru).
  version: "1.0.6"
  contact:
    email: development.iisis@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://fapi.iisis.ru/fapi/v2
    description: Main API host

tags:
  - name: manufacturerList
    description: Manufacturers (brands).
  - name: productList
    description: Parts, attributes, vehicle applicability, images, and search helpers.
  - name: analogList
    description: Cross-references (analogs / equivalent parts).
  - name: catalogDt
    description: Lookup against the non-original parts catalog (by vehicle make / model / modification / node).

security:
  - api_key: []

paths:
  /imageList:
    get:
      tags:
        - productList
      summary: Get a part image
      description: Returns a JPEG image of the part. This endpoint is served from a dedicated static host and does not require authentication.
      security: []
      servers:
        - url: https://static.fapi.iisis.ru/fapi/v2
          description: Static image host
      parameters:
        - in: query
          name: mfi
          description: Manufacturer index.
          required: true
          schema:
            type: integer
            default: 13007
        - in: query
          name: n
          description: Part number (article).
          required: true
          schema:
            type: string
            default: "10100"
        - in: query
          name: imgd
          description: "(Image Default) Behaviour when no image is found for the part: true returns a default placeholder image; false returns 404. Defaults to true."
          required: false
          schema:
            type: boolean
            default: true
        - in: query
          name: width
          description: Image width in pixels.
          required: false
          schema:
            type: integer
            default: 200
      responses:
        '200':
          description: JPEG image bytes.
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Image not found (only when imgd=false).

  /manufacturerList:
    get:
      tags:
        - manufacturerList
      summary: List all manufacturers
      description: Returns the full list of manufacturers (brands), plus a separate list of manufacturer name aliases. Typically called once and cached on the client; the `dbi` value on each manufacturer is the key used by other endpoints.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManufacturerListFull'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /productList:
    get:
      tags:
        - productList
      summary: Look up parts by article number
      description: Returns parts matching the given article number, together with their manufacturers, cross-references, and any messages. The response shape is the same composite object as `/analogList`.
      parameters:
        - in: query
          name: n
          description: Part article number, or the leading portion of one.
          required: true
          schema:
            type: string
            default: A00742
        - in: query
          name: comparison
          description: If set, `n` is treated as a search prefix / pattern rather than an exact article number.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalogListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /productNumberList:
    get:
      tags:
        - productList
      summary: Autocomplete part numbers
      description: Returns a flat list of part numbers matching the given prefix. Useful for type-ahead suggestions.
      parameters:
        - in: query
          name: n
          description: Part article number, or the leading portion of one.
          required: true
          schema:
            type: string
            default: A00742
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /productParameterList:
    get:
      tags:
        - productList
      summary: Get extra attributes of a part
      description: Returns the list of key/value attributes (weight, dimensions, etc.) attached to a specific part.
      parameters:
        - in: query
          name: n
          description: Part article number.
          required: true
          schema:
            type: string
            default: "10100"
        - in: query
          name: mfi
          description: Manufacturer index.
          required: true
          schema:
            type: integer
            default: 13007
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParameterListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /productApplicabilityList:
    get:
      tags:
        - productList
      summary: Vehicle applicability for a part
      description: Returns the vehicles (manufacturer / model / modification) the given part fits.
      parameters:
        - in: query
          name: mfi
          description: Manufacturer index.
          required: true
          schema:
            type: integer
            default: 12738
        - in: query
          name: n
          description: Part article number.
          required: true
          schema:
            type: string
            default: "AG+251"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /analogList:
    get:
      tags:
        - analogList
      summary: Get cross-references for a part
      description: Returns the cross-reference graph for the given part article number — manufacturers, products, and the analog links between them.
      parameters:
        - in: query
          name: n
          description: Part article number.
          required: true
          schema:
            type: string
            default: A0074207920
        - in: query
          name: mfi
          description: Manufacturer index (optional, narrows results to a specific brand).
          required: false
          schema:
            type: integer
        - in: query
          name: r
          description: Filter results by minimum cross-reference confidence rating. Higher values return fewer but more verified crosses. 0 = no filter.
          required: false
          schema:
            type: integer
            default: 0
        - in: query
          name: o
          description: |
            Additional filter mode:
            - `NOT_USE` — no extra filter.
            - `ONLY_OWN` — only crosses you have voted on (verified or broken); ignores `r`.
            - `CORRECT_AR` — only verified crosses combined with the rating filter. An analog marked verified is included even if its rating is below the threshold.
          required: false
          schema:
            type: string
            enum:
              - NOT_USE
              - ONLY_OWN
              - CORRECT_AR
            default: NOT_USE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalogListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /catalogList/dt/manufacturerList:
    get:
      tags:
        - catalogDt
      summary: List vehicle manufacturers (catalog)
      description: Returns the manufacturers available for the vehicle-catalog dropdown.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManufacturerList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /catalogList/dt/modelList:
    get:
      tags:
        - catalogDt
      summary: List vehicle models for a manufacturer
      description: Returns the models that belong to a given vehicle manufacturer.
      parameters:
        - in: query
          name: mfi
          description: Manufacturer identifier.
          required: true
          schema:
            type: integer
            default: 111
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /catalogList/dt/modificationList:
    get:
      tags:
        - catalogDt
      summary: List modifications of a vehicle model
      description: Returns the modifications (engine / body / drive variants) of a given vehicle model.
      parameters:
        - in: query
          name: mi
          description: Model identifier (dbi).
          required: true
          schema:
            type: integer
            default: 4846
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModificationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /catalogList/dt/treeList:
    get:
      tags:
        - catalogDt
      summary: Node tree for a vehicle modification
      description: Returns the tree of part-group nodes for the given vehicle modification.
      parameters:
        - in: query
          name: mi
          description: Modification identifier (dbi).
          required: true
          schema:
            type: integer
            default: 124170
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TreeNode'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /catalogList/dt/productList:
    get:
      tags:
        - catalogDt
      summary: List parts for a catalog node
      description: Returns the parts attached to a given node within a given vehicle modification.
      parameters:
        - in: query
          name: nodei
          description: Node identifier (dbi).
          required: true
          schema:
            type: integer
            default: 100259
        - in: query
          name: modi
          description: Modification identifier (dbi).
          required: true
          schema:
            type: integer
            default: 124170
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CatalogProductRow'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    api_key:
      type: apiKey
      name: ui
      in: query

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageList'
    Unauthorized:
      description: "Authentication failed: invalid API key."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageList'
    Forbidden:
      description: "Access denied: API key blocked due to abuse or terms violation."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageList'
    ServerError:
      description: Server error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MessageList'

  schemas:
    ManufacturerListFull:
      type: object
      description: Full manufacturer list, including name aliases.
      required:
        - mf
        - al
      properties:
        mf:
          type: array
          description: Manufacturers.
          items:
            $ref: '#/components/schemas/ManufacturerListRow'
        al:
          type: array
          description: Manufacturer name aliases (alternative spellings mapped to a manufacturer index).
          items:
            $ref: '#/components/schemas/ManufacturerAliasRow'

    ManufacturerList:
      type: object
      description: Manufacturer list.
      required:
        - mf
      properties:
        mf:
          type: array
          items:
            $ref: '#/components/schemas/ManufacturerListRow'

    ManufacturerListRow:
      type: object
      required:
        - i
        - ds
        - da
        - dbi
      properties:
        i:
          type: integer
          description: Index (row id within this response).
          example: 193
        ds:
          type: string
          description: Standard description — brand name in upper case.
          example: TOYOTA
        da:
          type: string
          description: Adapted description — brand name in upper case, stripped of special characters.
          example: TOYOTA
        dbi:
          type: integer
          description: Database index in FAPI (the stable key used to address this manufacturer in other endpoints).
          example: 111

    ManufacturerAliasRow:
      type: object
      description: Alternative name for a manufacturer.
      required:
        - mfi
        - da
      properties:
        mfi:
          type: integer
          description: Manufacturer index this alias points to.
        da:
          type: string
          description: Adapted alias text (upper case, no special characters).

    AnalogListResponse:
      type: object
      description: Composite cross-reference response — manufacturers, products, analog links, and messages.
      required:
        - manufacturerList
        - productList
        - analogList
        - messageList
      properties:
        manufacturerList:
          $ref: '#/components/schemas/ManufacturerList'
        productList:
          $ref: '#/components/schemas/ProductList'
        analogList:
          $ref: '#/components/schemas/AnalogList'
        messageList:
          $ref: '#/components/schemas/MessageList'

    ProductList:
      type: object
      description: List of parts.
      required:
        - p
      properties:
        p:
          type: array
          items:
            $ref: '#/components/schemas/ProductListRow'

    ProductListRow:
      type: object
      required:
        - i
        - mfi
        - ns
        - n
        - d
        - sr
        - dbi
        - upd
      properties:
        i:
          type: integer
          description: Index (row id within this response).
        mfi:
          type: integer
          description: Manufacturer index — foreign key to ManufacturerListRow.i.
        ns:
          type: string
          description: Standardised number — article number with special characters removed.
        n:
          type: string
          description: Article number as printed on the part.
        d:
          type: string
          description: Part description.
        sr:
          type: integer
          description: Aggregate confidence rating from all sources — sum of positive and negative source ratings across cross-references involving this part.
        dbi:
          type: integer
          description: Database index in FAPI.
        upd:
          type: integer
          format: int64
          description: Last updated, Unix timestamp in milliseconds.

    AnalogList:
      type: object
      description: Cross-reference links between parts.
      required:
        - a
      properties:
        a:
          type: array
          items:
            $ref: '#/components/schemas/AnalogListRow'

    AnalogListRow:
      type: object
      required:
        - i
        - _int
        - rm
        - rp
        - pi
        - mfi
        - ns
        - pai
        - mfai
        - nsa
      properties:
        i:
          type: integer
          description: Index (row id within this response).
        pri:
          type: integer
          description: Field present in API response; meaning not yet documented.
        si:
          type: integer
          description: Field present in API response; meaning not yet documented.
        di:
          type: integer
          description: Field present in API response; meaning not yet documented.
        _int:
          type: integer
          description: "Vote marker if you have voted or submitted this cross. Values: -1 = not set; 1 = cross is BROKEN; 0 = cross is VERIFIED."
        rm:
          type: integer
          description: Rating minus — count of negative ratings from sources (this cross marked as BROKEN).
        rp:
          type: integer
          description: Rating plus — count of positive ratings from sources (this cross marked as VERIFIED).
        pi:
          type: integer
          description: Reference to the source PART (foreign key to productList.i).
        mfi:
          type: integer
          description: Manufacturer index — reference to the source BRAND (foreign key to manufacturerList.i).
        ns:
          type: string
          description: Standardised number of the source part.
        pai:
          type: integer
          description: Reference to the CROSS PART (foreign key to productList.i).
        mfai:
          type: integer
          description: Manufacturer index of the cross — reference to the CROSS BRAND (foreign key to manufacturerList.i).
        nsa:
          type: string
          description: Standardised number of the cross part.

    ParameterListResponse:
      type: object
      description: Wrapper around the list of part attributes.
      required:
        - p
      properties:
        p:
          type: array
          items:
            $ref: '#/components/schemas/ParameterListRow'

    ParameterListRow:
      type: object
      required:
        - key
        - value
      properties:
        key:
          type: string
          example: "Weight, g"
        value:
          type: string
          example: "4210"

    CarListResponse:
      type: object
      description: Vehicle applicability — manufacturers, models, and modifications a part fits.
      required:
        - manufacturerList
        - modelList
        - modificationList
      properties:
        manufacturerList:
          $ref: '#/components/schemas/ManufacturerList'
        modelList:
          $ref: '#/components/schemas/ApplicabilityModelList'
        modificationList:
          $ref: '#/components/schemas/ApplicabilityModificationList'

    ApplicabilityModelList:
      type: object
      required:
        - m
      properties:
        m:
          type: array
          items:
            $ref: '#/components/schemas/ApplicabilityModelRow'

    ApplicabilityModelRow:
      type: object
      description: Vehicle model row as returned by productApplicabilityList (compact form).
      required:
        - i
        - mfi
        - d
      properties:
        i:
          type: integer
          description: Index (row id within this response).
        mfi:
          type: integer
          description: Manufacturer index — foreign key to ManufacturerListRow.i.
        d:
          type: string
          description: Model description.

    ApplicabilityModificationList:
      type: object
      required:
        - m
      properties:
        m:
          type: array
          items:
            $ref: '#/components/schemas/ApplicabilityModificationRow'

    ApplicabilityModificationRow:
      type: object
      description: Vehicle modification row as returned by productApplicabilityList (compact form).
      required:
        - i
        - mfi
        - mdi
        - d
        - cb
      properties:
        i:
          type: integer
          description: Index (row id within this response).
        mfi:
          type: integer
          description: Manufacturer index — foreign key to ManufacturerListRow.i.
        mdi:
          type: integer
          description: Model index — foreign key to model row.
        d:
          type: string
          description: Modification description.
        cb:
          type: integer
          format: int64
          description: Construction begin date, Unix timestamp in milliseconds.

    ModelList:
      type: object
      required:
        - m
      properties:
        m:
          type: array
          items:
            $ref: '#/components/schemas/ModelListRow'

    ModelListRow:
      type: object
      description: Vehicle model row from the catalog endpoint.
      required:
        - i
        - dbi
        - mfi
        - d
        - fd
        - cb
        - ce
      properties:
        i:
          type: integer
          description: Index (row id within this response).
          example: 4846
        dbi:
          type: integer
          description: Database index in FAPI (stable key for this model).
          example: 4846
        mfi:
          type: integer
          description: Manufacturer index — foreign key to ManufacturerListRow.i.
          example: 111
        d:
          type: string
          description: Short description.
          example: "CAMRY sedan (_V3_)"
        fd:
          type: string
          description: Full description (typically brand + model).
          example: "TOYOTA CAMRY sedan (_V3_)"
        cb:
          type: integer
          format: int64
          description: Construction begin date, Unix timestamp in milliseconds.
          example: 996624000000
        ce:
          type: integer
          format: int64
          description: Construction end date, Unix timestamp in milliseconds.
          example: 1162339200000

    ModificationList:
      type: object
      required:
        - m
      properties:
        m:
          type: array
          items:
            $ref: '#/components/schemas/ModificationListRow'

    ModificationListRow:
      type: object
      description: Vehicle modification row from the catalog endpoint.
      required:
        - i
        - dbi
        - mdi
        - d
        - fd
        - cb
        - ce
        - engineType
        - engineCode
        - power
        - capacity
        - driveType
        - bodyType
        - p
      properties:
        p:
          type: object
          description: Parent reference (structure varies; not enforced by this schema).
          additionalProperties: true
        i:
          type: integer
          description: Index (row id within this response).
          example: 9
        dbi:
          type: integer
          description: Database index in FAPI (stable key for this modification).
          example: 124170
        mdi:
          type: integer
          description: Model index — foreign key to ModelListRow.i.
          example: 4846
        d:
          type: string
          description: Short description.
          example: "2.4 (ACV30)"
        fd:
          type: string
          description: Full description (brand + model + modification).
          example: "TOYOTA CAMRY sedan (_V3_) 2.4 (ACV30)"
        cb:
          type: integer
          format: int64
          description: Construction begin date, Unix timestamp in milliseconds.
          example: 999302400000
        ce:
          type: integer
          format: int64
          description: Construction end date, Unix timestamp in milliseconds.
          example: 1136073600000
        engineType:
          type: string
          description: Engine type.
          example: "Petrol engine"
        engineCode:
          type: string
          description: Engine code.
          example: "2AZ-FE"
        power:
          type: string
          description: Engine power.
          example: "117"
        capacity:
          type: string
          description: Engine displacement.
          example: "2.4 l"
        driveType:
          type: string
          description: Drive type.
          example: "Front-wheel drive"
        bodyType:
          type: string
          description: Body type.
          example: "sedan"

    TreeNode:
      type: object
      description: Node in the part-group tree for a vehicle modification.
      required:
        - i
        - d
        - mi
        - pi
        - searchtreeid
      properties:
        i:
          type: integer
          description: Node identifier.
        d:
          type: string
          description: Node description (part-group name).
        mi:
          type: integer
          description: Modification index this node belongs to.
        pi:
          type: integer
          description: Parent node identifier (0 for root nodes).
        searchtreeid:
          type: integer
          description: Identifier of the search tree this node is rooted in.

    CatalogProductRow:
      type: object
      description: Part row returned for a (node, modification) pair in the vehicle catalog.
      required:
        - mfi
        - mfd
        - ns
        - n
        - d
      properties:
        mfi:
          type: integer
          description: Manufacturer index — foreign key to ManufacturerListRow.i.
        mfd:
          type: string
          description: Manufacturer description (brand name).
        ns:
          type: string
          description: Standardised number — article number with special characters removed.
        n:
          type: string
          description: Article number as printed on the part.
        d:
          type: string
          description: Part description.

    MessageList:
      type: object
      required:
        - m
      properties:
        m:
          type: array
          items:
            $ref: '#/components/schemas/MessageListRow'

    MessageListRow:
      type: object
      required:
        - i
        - l
        - d
      properties:
        i:
          type: integer
          description: Message index.
        l:
          type: integer
          description: Severity level.
        d:
          type: string
          description: Message text.
          example: "Message text"
